# Build results
bin/
obj/

x86/
x64/
*.exe
*.pdb
*.ilk
*.idb
*.tlog
*.obj

# Visual Studio cache
.vs/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log
*.vsidx

# --- Compilation folders (ignore all, except specific DLL) ---
# Ignore all ZPG/x64/Debug
ZPG/x64/Debug/*

# remain
!ZPG/x64/Debug/
# 
!ZPG/x64/Debug/glew32.dll
!ZPG/x64/Debug/glfw3.dll
